<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBShopping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97003A3A1E2C931600E9797B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97003A531E2C931700E9797B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97003A5E1E2C931700E9797B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
